# This is the 'requirements.txt' file for the Python project.
# It lists all the external Python packages (dependencies) the project needs.

# To install these dependencies, one can run the command:
# pip install -r requirements.txt

# ---------------------Listed Dependencies of AtomProNet---------------------

# numpy: Required for numerical operations, large arrays, and matrices handling.
numpy

# ase: Used for atomistic simulations, essential for computational chemistry and materials science.
ase

# For materials project API
mp-api
scipy
pymatgen==2023.11.12
#pymatgen[core]==2023.11.12
#pymatgen

# For MLIP Post processing
statsmodels
seaborn
scikit-learn



